* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 300;
  src: local(''),
    url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
}

:root {
  --main-color: #121723;
  --light-grey: #e6e8ec;
  --grey: #a1a6b4;
  --primary: #6d31ee;
  --light-primary: #aa9dfa;
  --shade-primary: #4f28a5;
  --white: #fff;
}

html {
  font-family: 'Muller', Arial, Helvetica, sans-serif;
  color: var(--main-color);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  padding: 0;
  list-style: none;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 100px;
  max-width: 1310px;
}

/* header-top */
.header-top {
  padding: 22px 0;
}

.header-top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__logo,
.header-top__nav {
  margin-right: 77px;
}

.header-top__list {
  display: flex;
}

.header-top__item:not(:last-child) {
  margin-right: 53px;
}

.header-top__link {
  padding: 3px;
  font-size: 20px;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.header-top__link:hover,
.header-bottom__link:hover {
  color: var(--primary);
}

.header-top__link:focus,
.header-bottom__link:focus {
  outline: none;
  color: var(--white);
  background-color: var(--light-primary);
}

.header-top__link:active,
.header-bottom__link:active {
  color: var(--shade-primary);
  background-color: transparent;
}

.header-top__search-form {
  margin-right: 24px;
}

.search-form__button .search-form__icon path {
  transition: stroke .3s ease-in;
}

.search-form__button:focus {
  outline: none;
}

.search-form__button:hover .search-form__icon path,
.search-form__button:focus .search-form__icon path {
  stroke: var(--light-primary);
}

.search-form__button:active .search-form__icon path {
  stroke: var(--shade-primary);
}

.header-top__sign-in-btn {
  padding: 9px 31px;
  outline: 2px solid var(--main-color);
  border-radius: 77px;
  font-weight: 500;
  transition: color .3s ease-in, background-color .3s ease-in, outline .3s ease-in;
}

.header-top__sign-in-btn:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.header-top__sign-in-btn:focus {
  background-color: var(--light-primary);
}

.header-top__sign-in-btn:active {
  outline: 2px solid var(--shade-primary);
  background-color: var(--shade-primary);
}

/* header-bottom */
.header-bottom {
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.header-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom__list {
  display: flex;
}

.header-bottom__item:not(:last-child) {
  margin-right: 46px;
}

.header-bottom__link {
  padding: 3px;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.header-bottom__on-air {
  display: flex;
  padding: 7px 0;
}

.on-air__block {
  display: flex;
  padding: 0 10px;
}

.on-air__block_earlier {
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
}

.on-air__block_now {
  border-right: 1px solid var(--light-grey);
}

.on-air__desc {
  width: 121px;
}

.on-air__play-button {
  margin-right: 8px;
}

.on-air__play-button .on-air__play-icon path {
  transition: fill .3s ease-in;
}

.on-air__play-button:focus {
  outline: none;
}

.on-air__play-button:hover .on-air__play-icon path {
  fill: var(--primary);
}

.on-air__play-button:focus .on-air__play-icon path {
  fill: var(--light-primary);
}

.on-air__play-button:active .on-air__play-icon path {
  fill: var(--shade-primary);
}

.on-air__title {
  margin-bottom: 2px;
  font-size: 12px;
  color: var(--grey);
}

.header-bottom__age-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 58px;
  background-color: var(--light-grey);
}

.age-rating__value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 12px;
  color: var(--grey);
  background-color: var(--white);
}

/* hero */
.section-hero__container {
  padding-top: 96px;
  padding-bottom: 94px;
  background-image: url('../img/microphone.jpg');
  background-repeat: no-repeat;
  background-position: center right 98px;
}

.section-hero__content {
  max-width: 635px;
}

.section-hero__heading {
  margin: 0;
  margin-bottom: 14px;
  font-size: 60px;
  line-height: 1;
}

.section-hero__heading_italic {
  font-weight: 400;
  font-style: italic;
}

.section-hero__desc {
  margin-bottom: 45px;
  line-height: 1.5;
}

.section-hero__desc-link {
  position: relative;
  padding-bottom: 3px;
  color: var(--primary);
  transition: color .3s ease-in, background-color .3s ease-in, padding .3s ease-in;
}

.section-hero__desc-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary);
  transform: scaleX(0);
  transition: transform .3s, background-color .3s ease-in;
}

.section-hero__desc-link:hover::after {
  transform: scale(1);
}

.section-hero__desc-link:focus {
  padding: 3px;
  outline: none;
  color: var(--white);
  background-color: var(--light-primary);
}

.section-hero__desc-link:active {
  color: var(--shade-primary);
  background-color: transparent;
}

.section-hero__desc-link:active::after {
  background-color: var(--shade-primary);
}

.section-hero__on-air-link {
  display: inline-block;
  padding: 25px 55px;
  border-radius: 40px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary);
  transition: background-color .3s ease-in, outline .3s ease-in;
}

.section-hero__on-air-link:hover {
  background-color: var(--light-primary);
}

.section-hero__on-air-link:focus {
  outline: 2px solid var(--shade-primary);
  outline-offset: 0;
  background-color: var(--light-primary);
}

.section-hero__on-air-link:active {
  outline: none;
  background-color: var(--shade-primary);
}
