* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1;
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 300;
  src: local(''),
    url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
}

:root {
  --main-color: #121723;
  --light-grey: #e6e8ec;
  --grey: #a1a6b4;
  --shade-grey: #d2d5dd;
  --primary: #6d31ee;
  --light-primary: #aa9dfa;
  --shade-primary: #4f28a5;
  --white: #fff;
}

html {
  font-family: 'Muller', Arial, Helvetica, sans-serif;
  color: var(--main-color);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1210px;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-heading {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

/* header-top */
.header-top {
  padding: 20px 0;
}

.header-top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__logo,
.header-top__nav {
  margin-right: 77px;
}

.header-top__list {
  display: flex;
}

.header-top__item:not(:last-child) {
  margin-right: 53px;
}

.header-top__link {
  padding: 3px;
  font-size: 20px;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.header-top__link:hover,
.header-bottom__link:hover {
  color: var(--primary);
}

.header-top__link:focus,
.header-bottom__link:focus {
  outline: none;
  color: var(--white);
  background-color: var(--light-primary);
}

.header-top__link:active,
.header-bottom__link:active {
  color: var(--shade-primary);
  background-color: transparent;
}

.header-top__search-form {
  margin-right: 24px;
}

.search-form__button .search-form__icon path {
  transition: stroke .3s ease-in;
}

.search-form__button:focus {
  outline: none;
}

.search-form__button:hover .search-form__icon path,
.search-form__button:focus .search-form__icon path {
  stroke: var(--light-primary);
}

.search-form__button:active .search-form__icon path {
  stroke: var(--shade-primary);
}

.header-top__sign-in-btn {
  padding: 9px 31px;
  border: 2px solid var(--main-color);
  border-radius: 77px;
  font-weight: 500;
  transition: color .3s ease-in, background-color .3s ease-in, border .3s ease-in;
}

.header-top__sign-in-btn:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.header-top__sign-in-btn:focus {
  outline: none;
  color: var(--main-color);
  background-color: var(--light-primary);
}

.header-top__sign-in-btn:active {
  border: 2px solid var(--shade-primary);
  color: var(--white);
  background-color: var(--shade-primary);
}

/* header-bottom */
.header-bottom {
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.header-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom__list {
  display: flex;
}

.header-bottom__item:not(:last-child) {
  margin-right: 46px;
}

.header-bottom__link {
  padding: 3px;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.header-bottom__on-air {
  display: flex;
  padding: 7px 0;
}

.on-air__block {
  display: flex;
  padding: 0 10px;
}

.on-air__block_earlier {
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
}

.on-air__block_now {
  border-right: 1px solid var(--light-grey);
}

.on-air__desc {
  width: 121px;
}

.on-air__play-button {
  margin-right: 8px;
}

.on-air__play-button .on-air__play-icon path {
  transition: fill .3s ease-in;
}

.on-air__play-button:focus {
  outline: none;
}

.on-air__play-button:hover .on-air__play-icon path {
  fill: var(--primary);
}

.on-air__play-button:focus .on-air__play-icon path {
  fill: var(--light-primary);
}

.on-air__play-button:active .on-air__play-icon path {
  fill: var(--shade-primary);
}

.on-air__title {
  margin-bottom: 2px;
  font-size: 12px;
  color: var(--grey);
}

.header-bottom__age-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 58px;
  background-color: var(--light-grey);
}

.age-rating__value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 12px;
  color: var(--grey);
  background-color: var(--white);
}

/* hero */
.section-hero__container {
  padding-top: 96px;
  padding-bottom: 94px;
  background-image: url('../img/microphone.jpg');
  background-repeat: no-repeat;
  background-position: center right 48px;
}

.section-hero__content {
  max-width: 635px;
}

.section-hero__heading {
  margin: 0;
  margin-bottom: 14px;
  font-size: 60px;
  line-height: 1;
}

.section-hero__heading_italic {
  font-weight: 400;
  font-style: italic;
}

.section-hero__desc {
  margin-bottom: 45px;
  line-height: 1.5;
}

.section-hero__desc-link {
  position: relative;
  padding-bottom: 3px;
  color: var(--primary);
  transition: color .3s ease-in, background-color .3s ease-in, padding .3s ease-in;
}

.section-hero__desc-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary);
  transform: scaleX(0);
  transition: transform .3s, background-color .3s ease-in;
}

.section-hero__desc-link:hover::after {
  transform: scale(1);
}

.section-hero__desc-link:focus {
  padding: 3px;
  outline: none;
  color: var(--white);
  background-color: var(--light-primary);
}

.section-hero__desc-link:active {
  color: var(--shade-primary);
  background-color: transparent;
}

.section-hero__desc-link:active::after {
  background-color: var(--shade-primary);
}

.section-hero__on-air-link {
  display: inline-block;
  padding: 25px 55px;
  border-radius: 40px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary);
  transition: background-color .3s ease-in, outline .3s ease-in;
}

.section-hero__on-air-link:hover {
  background-color: var(--light-primary);
}

.section-hero__on-air-link:focus {
  outline: 2px solid var(--shade-primary);
  outline-offset: 0;
  background-color: var(--light-primary);
}

.section-hero__on-air-link:active {
  outline: none;
  background-color: var(--shade-primary);
}

/* podcasts */
.section-podcasts {
  background-color: var(--light-grey);
}

.section-podcasts__container {
  position: relative;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-podcasts__heading {
  margin-bottom: 30px;
}

.section-podcasts__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

.section-podcasts__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 113px;
  flex: 0 0 calc(50% - 15px);
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center left;
  transition: visibility .3s ease-in, opacity .3s ease-in;
}

.section-podcasts__item:nth-child(2n+1) {
  margin-right: 30px;
}

.section-podcasts__item_hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.section-podcasts__item_europe {
  background-image: url('../img/podcast_europe.jpg');
}

.section-podcasts__item_music {
  background-image: url('../img/podcast_music.jpg');
}

.section-podcasts__item_people {
  background-image: url('../img/podcast_people.jpg');
}

.section-podcasts__item_africa {
  background-image: url('../img/podcast_africa.jpg');
}

.section-podcasts__item_about-all {
  background-image: url('../img/podcast_about-all.jpg');
}

.section-podcasts__item_physics {
  background-image: url('../img/podcast_physics.jpg');
}

.section-podcasts__item_sound {
  background-image: url('../img/podcast_sound.jpg');
}

.section-podcasts__item_etiquette {
  background-image: url('../img/podcast_etiquette.jpg');
}

.section-podcasts__item_art-plans {
  background-image: url('../img/podcast_art-plans.jpg');
}

.section-podcasts__item_aloud {
  background-image: url('../img/podcast_aloud.jpg');
}

.section-podcasts__item_reading {
  background-image: url('../img/podcast_reading.jpg');
}

.section-podcasts__item_opera {
  background-image: url('../img/podcast_opera.jpg');
}

.podcasts-item__date {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 51px;
  height: 16px;
  font-size: 10px;
  background-color: var(--light-grey);
}

.podcasts-item__top-content {
  padding: 23px 30px 24px 30px;
}

.podcasts-item__play-button {
  position: absolute;
  top: 30px;
  right: 30px;
}

.podcasts-item__play-button .podcasts-item__play-icon circle {
  transition: stroke .3s ease-in;
}

.podcasts-item__play-button .podcasts-item__play-icon path {
  transition: fill .3s ease-in;
}

.podcasts-item__play-button:hover .podcasts-item__play-icon circle {
  stroke: var(--primary);
}

.podcasts-item__play-button:hover .podcasts-item__play-icon path {
  fill: var(--primary);
}

.podcasts-item__play-button:focus {
  outline: none;
}

.podcasts-item__play-button:focus .podcasts-item__play-icon circle {
  stroke: var(--light-primary);
}

.podcasts-item__play-button:focus .podcasts-item__play-icon path {
  fill: var(--light-primary);
}

.podcasts-item__play-button:active .podcasts-item__play-icon circle {
  stroke: var(--shade-primary);
}

.podcasts-item__play-button:active .podcasts-item__play-icon {
  fill: var(--shade-primary);
}

.podcasts-item__play-button:active .podcasts-item__play-icon path {
  fill: var(--white);
}

.podcasts-item__duration {
  margin-bottom: 9px;
  font-size: 12px;
}

.podcasts-item__heading {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 400;
}

.podcasts-item__author {
  color: var(--grey);
}

.podcasts-item__bottom-content {
  padding: 5px 0 5px 30px;
  border-top: 1px solid var(--light-grey);
}

.podcasts-item__activity-button {
  padding: 2px 1px 0 1px;
  color: var(--grey);
  transition: color .3s ease-in, background-color .3s ease-in;
}

.podcasts-item__activity-button .podcasts-item__activity-icon path {
  transition: fill .3s ease-in;
}

.podcasts-item__activity-button:hover {
  color: var(--primary);
}

.podcasts-item__activity-button:focus {
  outline: none;
  color: var(--white);
  background-color: var(--light-primary);
}

.podcasts-item__activity-button:active {
  color: var(--shade-primary);
  background-color: transparent;
}

.podcasts-item__activity-button:hover .podcasts-item__activity-icon path {
  fill: var(--primary);
}

.podcasts-item__activity-button:focus .podcasts-item__activity-icon path {
  fill: var(--white);
}

.podcasts-item__activity-button:active .podcasts-item__activity-icon path {
  fill: var(--shade-primary);
}

.podcasts-item__activity-button:not(:last-child) {
  margin-right: 24px;
}

.podcasts-item__activity-icon:nth-child(1) {
  margin-right: 2px;
}

.section-podcasts__button {
  display: block;
  margin: 0 auto;
  padding: 23px 52px;
  border: 2px solid var(--primary);
  border-radius: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: var(--primary);
  transition: background-color .3s ease-in, color .3s ease-in, border .3s ease-in;
}

.section-podcasts__button.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.section-podcasts__button:hover {
  color: var(--white);
  background-color: var(--primary);
}

.section-podcasts__button:focus {
  outline: none;
  color: var(--white);
  background-color: var(--light-primary);
}

.section-podcasts__button:active {
  border: 2px solid var(--shade-primary);
  background-color: var(--shade-primary);
}

/* broadcasts */
.section-broadcasts__container {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-broadcasts__left-content {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.broadcasts-left__bottom-block {
  padding-top: 113px;
  background-image: url('../img/mic.jpg');
  background-repeat: no-repeat;
  background-position: bottom 124px left;
}

.section-broadcasts__heading {
  margin-bottom: 12px;
}

.select__heading {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
}

.select__wrapper {
  position: relative;
}

.select__button {
  position: relative;
  display: block;
  width: 255px;
  padding: 12px 0 12px 12px;
  border-radius: 10px;
  text-align: left;
  line-height: 1;
  background-color: var(--light-grey);
  z-index: 1;
  transition: background-color .3s ease-in;
}

.select__button::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 9px;
  background-image: url('../img/arrow-select.svg');
  background-repeat: no-repeat;
  vertical-align: middle;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select__button_is-open::after {
  transform: rotate(-180deg) translateY(60%);
}

.select__button:hover {
  background-color: rgba(230, 232, 236, 0.4);
}

.select__button:focus {
  outline: 1px solid #7b61ff;
}

.select__button:active {
  outline: none;
  background-color: var(--shade-grey);
}

.select__list {
  position: absolute;
  left: 0;
  top: 30px;
  display: none;
  padding-top: 10px;
  width: 255px;
  border: 1px solid var(--shade-grey);
  border-top: none;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  text-align: left;
}

.select__list_visible {
  display: block;
}

.select__item {
  height: 40px;
  border-bottom: 1px solid var(--shade-grey);
  color: var(--grey);
  cursor: pointer;
}

.select__item:last-child {
  border-bottom: none;
}

.select__item_hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.select-item__button {
  padding-left: 12px;
  height: 100%;
  width: 100%;
  text-align: left;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.select-item__button:hover {
  background-color: rgba(230, 232, 236, 0.4);
}

.select-item__button:focus {
  outline: none;
  color: var(--main-color);
  background-color: var(--light-primary);
}

.select-item__button:active {
  color: var(--main-color);
  background-color: var(--light-grey);
}

.section-broadcasts__archive-button {
  display: inline-block;
  margin-bottom: 12px;
  padding: 9px 43px;
  border: 2px solid var(--main-color);
  border-radius: 77px;
  font-weight: 500;
  line-height: 1;
  transition: color .3s ease-in, background-color .3s ease-in, border .3s ease-in;
}

.section-broadcasts__archive-icon {
  vertical-align: middle;
}

.section-broadcasts__archive-icon path {
  transition: stroke .3s ease-in;
}

.section-broadcasts__archive-button:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.section-broadcasts__archive-button:focus {
  outline: none;
  color: var(--main-color);
  background-color: var(--light-primary);
}

.section-broadcasts__archive-button:active {
  border: 2px solid var(--shade-primary);
  color: var(--white);
  background-color: var(--shade-primary);
}

.section-broadcasts__archive-button:hover .section-broadcasts__archive-icon path {
  stroke: var(--white);
}

.section-broadcasts__archive-button:focus .section-broadcasts__archive-icon path {
  stroke: var(--main-color);
}

.section-broadcasts__archive-button:active .section-broadcasts__archive-icon path {
  stroke: var(--white);
}

.section-broadcasts__archive-desc {
  max-width: 255px;
  color: var(--grey);
  line-height: 1.5;
}

.section-broadcasts__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 14px;
}

.section-broadcasts__item {
  flex: 0 1 calc(33.3% - 15px);
  padding-top: 148px;
  max-width: 255px;
  background-repeat: no-repeat;
  background-position: top center;
}

.section-broadcasts__item:nth-child(-n+3) {
  margin-bottom: 30px;
}

.section-broadcasts__item_people {
  background-image: url('../img/people-books.jpg');
}

.section-broadcasts__item_graphomania {
  background-image: url('../img/graphomania.jpg');
}

.section-broadcasts__item_rome {
  background-image: url('../img/rome.jpg');
}

.section-broadcasts__item_erudite {
  background-image: url('../img/erudite.jpg');
}

.section-broadcasts__item_eras {
  background-image: url('../img/eras.jpg');
}

.section-broadcasts__item_thoughts {
  background-image: url('../img/thoughts.jpg');
}

.broadcasts-item__text-content {
  padding: 19px 0 19px 16px;
  border: 1px solid var(--light-grey);
}

.broacasts-item__heading {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 500;
}

.broadcasts-item__desc {
  margin-bottom: 20px;
  font-size: 12px;
  color: var(--grey);
}

.broadcasts-item__link {
  padding: 3px 1px;
  font-style: italic;
  transition: color .3s ease-in, background-color .3s ease-in;
}

.broadcasts-item__link-arrow path {
  transition: fill .3s ease-in;
}

.broadcasts-item__link:hover {
  color: var(--primary);
}

.broadcasts-item__link:hover .broadcasts-item__link-arrow path {
  fill: var(--primary);
}

.broadcasts-item__link:focus {
  outline: none;
  color: var(--white);
  background-color: var(--light-primary);
}

.broadcasts-item__link:focus .broadcasts-item__link-arrow path {
  fill: var(--white);
}

.broadcasts-item__link:active {
  color: var(--shade-primary);
  background-color: transparent;
}

.broadcasts-item__link:active .broadcasts-item__link-arrow path {
  fill: var(--shade-primary);
}

/* guests */
.section-guests {
  background-color: var(--main-color);
}

.section-guests__container {
  padding-top: 95px;
  padding-bottom: 94px;
}

.section-guests__heading {
  margin-bottom: 12px;
  color: var(--white);
}

.section-guests__desc-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--grey);
}

.section-guests__desc {
  margin-bottom: 50px;
  max-width: 825px;
  font-size: 20px;
  line-height: 1.6;
  color: var(--grey);
}

.section-guests__content-container {
  display: flex;
  justify-content: space-between;
}

.section-quests__accordion-wrapper {
  flex-grow: 1;
  margin-right: 30px;
}

.accordion {
  max-width: 730px;
}

.accordion__item {
  position: relative;
}

.accordion-item__trigger-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1px;
  padding: 25px 0 21px 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: var(--white);
  transition: color .3s ease-in, background-color .3s ease-in;
}

.accordion-item__trigger-btn .accordion-item__btn-arrow {
  transition: fill .3s ease-in, transform .5s;
}

.accordion-item__btn-arrow.rotate {
  transform: rotate(180deg);
}

.accordion-item__trigger-btn .accordion-item__btn-arrow circle,
.accordion-item__trigger-btn .accordion-item__btn-arrow path {
  transition: stroke .3s ease-in;
}

.accordion-item__trigger-btn:hover {
  color: var(--light-primary);
}

.accordion-item__trigger-btn:hover .accordion-item__btn-arrow circle,
.accordion-item__trigger-btn:hover .accordion-item__btn-arrow path {
  stroke: var(--light-primary);
  transition: stroke .3s ease-in;
}

.accordion-item__trigger-btn:focus {
  outline: none;
  color: var(--white);
  background-color: rgba(170, 157, 250, 0.3);
  transition: stroke .3s ease-in;
}

.accordion-item__trigger-btn:focus .accordion-item__btn-arrow circle,
.accordion-item__trigger-btn:focus .accordion-item__btn-arrow path {
  stroke: var(--grey);
}

.accordion-item__trigger-btn:active {
  color: var(--light-primary);
  background-color: transparent;
}

.accordion-item__trigger-btn:active .accordion-item__btn-arrow path {
  stroke: var(--white);
}

.accordion-item__trigger-btn:active .accordion-item__btn-arrow circle {
  stroke: var(--light-primary);
}

.accordion-item__trigger-btn:active .accordion-item__btn-arrow {
  fill: var(--light-primary);
}

.accordion__item_active .accordion-item__trigger-btn {
  border-top: 1px solid var(--light-primary);
  border-bottom: 1px solid var(--light-primary);
}

.accordion__item_active .accordion-item__trigger-btn:focus {
  background-color: transparent;
}

.accordion-item__content {
  overflow: hidden;
  column-count: auto;
  column-width: 160px;
  column-gap: 30px;
  max-height: 0;
  transition: all .5s;
}

.accordion__item_active .accordion-item__content {
  padding-top: 22px;
  padding-bottom: 22px;
  max-height: 1000px;
}

.accordion-item__content-link {
  display: block;
  color: var(--white);
  line-height: 2;
  transition: color .3s ease-in;
}

.accordion-item__content-link_active {
  color: var(--light-primary);
}

.accordion-item__content-link:hover {
  color: var(--primary);
}

.accordion-item__content-link:focus {
  outline: none;
  color: var(--light-primary);
}

.accordion-item__content-link:active {
  color: var(--light-primary);
}

.section-guests__guest-wrapper {
  width: 350px;
}

.section-guests__guest-card {
  display: none;
  padding-top: 234px;
  background-repeat: no-repeat;
  background-position: top center;
}

.guest-card_active {
  display: block;
}

.section-guests__guest-card_denisov {
  background-image: url('../img/denisov.jpg');
}

.section-guests__guest-card_mechnikov {
  background-image: url('../img/mechnikov.jpg');
}

.section-guests__guest-card_prusino {
  background-image: url('../img/prusino.jpg');
}

.section-guests__guest-card_kalitnikov {
  background-image: url('../img/kalitnikov.jpg');
}

.section-guests__guest-card_martynova {
  background-image: url('../img/martynova.jpg');
}

.section-guests__guest-card_vasileva {
  background-image: url('../img/vasileva.jpg');
}

.section-guests__guest-card_pak {
  background-image: url('../img/pak.jpg');
}

.section-guests__guest-card_danilova {
  background-image: url('../img/danilova.jpg');
}

.section-guests__guest-card_sverdlov {
  background-image: url('../img/sverdlov.jpg');
}

.section-guests__guest-card_nazarova {
  background-image: url('../img/nazarova.jpg');
}

.section-guests__guest-card_zhadan {
  background-image: url('../img/zhadan.jpg');
}

.section-guests__guest-card_ozerova {
  background-image: url('../img/ozerova.jpg');
}

.section-guests__guest-card_kazanov {
  background-image: url('../img/kazanov.jpg');
}

.section-guests__guest-card_lurie {
  background-image: url('../img/lurie.jpg');
}

.section-guests__guest-card_bulgakova {
  background-image: url('../img/bulgakova.jpg');
}

.section-guests__guest-card_dubov {
  background-image: url('../img/dubov.jpg');
}

.section-guests__guest-card_faure {
  background-image: url('../img/faure.jpg');
}

.section-guests__guest-card_default {
  padding: 156px 0 48px;
  text-align: center;
  background-color: #292E39;
  background-image: url('../img/user.svg');
  background-repeat: no-repeat;
  background-position: top 49px center;
}

.guest-card__socials {
  margin-bottom: 11px;
  padding-left: 3px;
}

.guest-card__social-link:not(:last-child) {
  margin-right: 30px;
}

.guest-card__social-link .guest-card__social-icon path {
  transition: fill .3s ease-in;
}

.guest-card__social-link:hover .guest-card__social-icon path {
  fill: var(--primary);
}

.guest-card__social-link:focus {
  outline: none;
}

.guest-card__social-link:focus .guest-card__social-icon path {
  fill: var(--light-primary);
}

.guest-card__social-link:active .guest-card__social-icon path {
  fill: var(--shade-primary);
}

.guest-card__name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
}

.guest-card__desc {
  margin-bottom: 30px;
  line-height: 1.8;
  color: var(--grey);
}

.section-guests__guest-card_default .guest-card__desc {
  margin-bottom: 0;
  line-height: 1;
}

.guest-card__on-air-link {
  display: inline-block;
  padding: 10px 18px;
  border: 2px solid var(--light-primary);
  border-radius: 77px;
  font-weight: 500;
  color: var(--light-primary);
  transition: border .3s ease-in, color .3s ease-in, background-color .3s ease-in;
}

.guest-card__on-air-link:hover {
  color: var(--white);
  background-color: var(--light-primary);
}

.guest-card__on-air-link:focus {
  outline: none;
  border: 2px solid var(--primary);
  color: var(--white);
  background-color: var(--primary);
}

.guest-card__on-air-link:active {
  border: 2px solid var(--shade-primary);
  background-color: var(--shade-primary);
}

/* playlists */
.section-playlists__container {
  display: flex;
  justify-content: space-between;
  padding: 94px 35px 79px 50px;
}

.section-playlists__left-block {
  margin-right: 15px;
  min-width: 350px;
}

.section-playlists__radio-block {
  margin-bottom: 32px;
}

.section-playlists__heading {
  margin-bottom: 12px;
}

.section-playlists__radio-heading {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
}

.section-playlists__radio-list {
  padding-left: 2px;
}

.section-playlists__radio-item:not(:last-child) {
  margin-bottom: 20px;
}

.section-playlists__radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.section-playlists__radio-label {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  cursor: pointer;
}

.section-playlists__radio-label::before {
  content: '';
  display: inline-block;
  box-sizing: inherit;
  width: 26px;
  height: 26px;
  border: 2px solid var(--grey);
  border-radius: 50%;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.section-playlists__radio-input:not(:disabled):not(:checked)+.section-playlists__radio-label::before {
  transition: border-color .3s ease-in;
}

.section-playlists__radio-input:not(:disabled):not(:checked)+.section-playlists__radio-label:hover::before {
  border-color: var(--primary);
}

.section-playlists__radio-input:checked+.section-playlists__radio-label::before {
  border: 7px solid var(--primary);
}

.section-playlists__age-rating-block {
  padding-top: 30px;
  border-top: 1px solid var(--shade-grey);
}

.section-playlists__age-rating-desc {
  margin-bottom: 3px;
  line-height: 22px;
  color: var(--grey);
}

.section-playlists__copyright {
  margin-bottom: 9px;
  font-weight: 300;
  font-style: italic;
  color: var(--grey);
}

.section-playlists__age-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  font-size: 12px;
  color: var(--grey);
}

.section-playlists__card-list {
  display: flex;
  flex-wrap: wrap;
}

.section-playlists__card-item {
  padding: 14px 15px 16px 15px;
  width: 25%;
}

.section-playlists__playlist-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.playlist-card__play-button {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.playlist-card__preview {
  position: relative;
  display: inline-block;
  line-height: 0;
  text-align: center;
}

.playlist-card__preview::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/play_btn_playlists.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(18, 23, 35, 0.8);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in, visibility .3s ease-in;
}

.playlist-card__text-content {
  display: inline-block;
  padding: 15px 0 15px 16px;
  border: 1px solid var(--light-grey);
  transition: color .3s ease-in, background-color .3s ease-in, border .3s ease-in;
}

.playlist-card__heading {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
}

.playlist-card__desc {
  font-size: 12px;
  color: var(--grey);
  transition: color .3s ease-in;
}

.playlist-card__play-button:hover~.playlist-card__preview::before {
  opacity: 1;
  visibility: visible;
}

.playlist-card__play-button:hover~.playlist-card__text-content {
  border: 1px solid var(--primary);
  color: var(--white);
  background-color: var(--primary);
}

.playlist-card__play-button:hover~.playlist-card__text-content .playlist-card__desc {
  color: var(--white);
}

.playlist-card__play-button:focus {
  outline: none;
}

.playlist-card__play-button:focus~.playlist-card__preview::before {
  opacity: 1;
  visibility: visible;
}

.playlist-card__play-button:focus~.playlist-card__text-content {
  border: 1px solid var(--light-primary);
  color: var(--main-color);
  background-color: var(--light-primary);
}

.playlist-card__play-button:focus~.playlist-card__text-content .playlist-card__desc {
  color: var(--main-color);
}

.playlist-card__play-button:active~.playlist-card__preview::before {
  opacity: 1;
  visibility: visible;
}

.playlist-card__play-button:active~.playlist-card__text-content {
  border: 1px solid var(--shade-primary);
  color: var(--white);
  background-color: var(--shade-primary);
}

.playlist-card__play-button:active~.playlist-card__text-content .playlist-card__desc {
  color: var(--white);
}

.playlist-card__country {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  line-height: 0;
  background-color: var(--main-color);
}

.playlist-card__img {
  width: 100%;
  height: 100%;
}
